* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}



@font-face {
    font-family: poppins-light;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-semiBold;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppins-extraBold;
    src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
}

/* pop msg */
.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: rgb(234, 234, 75);
    padding: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
    font-size: 20px;
}

/* helpers */
.flex {
    display: flex;
}

.flex.align-center,
.grid.align-center {
    align-items: center;
}

.flex.justify-center,
.grid.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.space-evenly {
    justify-content: space-evenly;
}

.flex.column {
    flex-direction: column;
}

.margin-auto {
    margin: auto;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.selected {
    color: green;
}



/* layouts */

.nav-layout {
    max-width: 600px;
}



/* MQ */
@media (max-width:740px) {}

@media (min-width:740px) {}

@media(min-width:1730px) {}

:root {
    --clr-BGC: linear-gradient(to bottom right, #F64F8B, #F88558);
    --clr-main: linear-gradient(to left, #33BE6D, #0C98B9);
    --clr-addBtn: linear-gradient(to top left, #42EB5C, #37B34A);
    --clr-addShadow:#015D33;
    --clr-switchBtn: linear-gradient(to top left, #66C4DC, #40B1CE, #0C98BB);
    --clr-switchShadow:#048B97;
    --clr-removeBtn: linear-gradient(to top left, #CF1D37, #F05036);
    --clr-removeShadow:#8C0606;
    --clr-white: #fff;
    --clr-whiteLow: hsla(0, 0%, 100%, 0.55);
    --clr-black:#000000;
    --clr-HTxt: #21AC91;
    --clr-DGrey: #383B42;
    --clr-input: #22252C;
    --clr-LGrey: #707070;
    --clr-trans: hsla(218, 27%, 94%, 0.11);
    --clr-stylesBG: #19A59F;
    --clr-LWhite: #EBEEF3;
    --clr-inputShadow:#BBC4D1;
    --clr-download: #8F44BB;
    --clr-downShadow:#632687;
    --clr-share: #1E7CD3;
    --clr-shareShadow:#165C9C;
    --clr-save: #ebeb4c;
    --clr-saveShadow:#a3a34a;
    --clr-stickers: linear-gradient(to top left, #8076FD, #A08BFF);
    --clr-btnShadow:#5c5c5c8c;
}

.grid {
    display: grid;
    width: 100%;
    height: auto;
    gap: 2rem;
    grid-template-columns: repeat(5, 300px);
    grid-auto-flow: row;
}

body {
    background-image: var(--clr-BGC);

}

.main-layout {
    max-width: 1700px;
}


/* header */
.main-header {
    background-image: var(--clr-main);
    border-radius: 3rem;
    font-family: poppins-medium;
    margin-top: 1rem;
}

.main-header .main-logo {
    font-size: 1.375rem;
    margin-inline-start: 5.4375rem;
    padding: 0.34375rem 0;
}

.main-header button {
    font-family: poppins-medium;
    font-size: 1.3125rem;
    margin-inline-start: 3.9375rem;
    padding: 0.125rem 1.3125rem;
    border-radius: 2rem;
    background-color: transparent;
    border: transparent;
    color: var(--clr-white);
    transition: all 0.4s;
}

.main-nav ul:last-child {
    margin-inline-end: 3.9375rem;
}

.main-header button:hover {
    background-color: var(--clr-white);
    color: var(--clr-HTxt);
    cursor: pointer;
}

/* main-content */

body.canvas-open .main-content {
    background: none;
}

.main-content {
    background-color: var(--clr-DGrey);
    border-radius: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-family: poppins-light;
}

.main-content input.search-words {
    width: 540px;
    font-size: 1.3125rem;
    padding: 0.9rem 0;
    padding-inline-start: 3.125rem;
    border-radius: 3rem;
    color: var(--clr-white);
    background-color: var(--clr-input);
    outline: 0;
    border: 0;
}

.main-content button.more-keywords-btn {
    font-size: 1.125rem;
    background-image: var(--clr-main);
    border-radius: 2rem;
    padding: 0 1.6rem;
    height: 2.25rem;
    border: 0;
    align-self: end;
    color: var(--clr-white);
    transition: all 0.4s;
}

.main-content button.more-keywords-btn:hover {
    color: var(--clr-HTxt);
    background-image: var(--clr-white);
    cursor: pointer;
    line-height: 1.31875;
}

.main-content .keywords>*:not(:last-child) {
    margin-inline-end: 0.625rem;
}

.main-content .keywords {
    background-color: var(--clr-LGrey);
    color: var(--clr-white);
    border-radius: 2rem;
    padding: 0 2.375rem;
}

.main-content .keywords span:hover {
    cursor: pointer;
}

.content-filtering {
    padding: 1.5625rem 0.81251rem 2.8125rem;
}



.meme-board {
    display: none;
}

.control-panel {
    background-color: var(--clr-trans);
    margin-inline-start: 5.625rem;
    border-radius: 1rem;
    margin-bottom: 1.875rem;
    padding: 0 2.5125rem;
    max-width: 525px;
}

.control-panel .line-txt {
    padding: 6.5px 0;
    border-radius: 2rem;
    border: 0;
    background-color: var(--clr-LWhite);
    font-family: poppins-medium;
    text-align: center;
    margin-top: 1.5rem;
    box-shadow: 0.26px 4.99px var(--clr-inputShadow),inset 0 5px var(--clr-white);
}
.control-panel .line-txt:hover{
    box-shadow:inset 0.26px 4.99px var(--clr-inputShadow), 0 5px var(--clr-white);
}
.control-panel .line-txt:focus{
    outline: none;
}

.control-panel button {
    font-family: poppins-semiBold;
    font-size: 3.2rem;
    height: 52px;
    width: 57px;
    border-radius: 0.8rem;
    border: 0;
    font-size: 2rem;

}

.control-panel .lines-btns>*:not(:last-child) {
    margin-inline-end: 20px;
}

.control-panel .lines-btns {
    margin-top: 19px;
    margin-bottom: 28.4px;
}

.add-line {
    background-image: var(--clr-addBtn);
    color: var(--clr-white);
    box-shadow: 0.26px 4.99px var(--clr-addShadow),inset 0 5px var(--clr-whiteLow);
}
.add-line:hover{
    box-shadow:inset 0.26px 4.99px var(--clr-addShadow), 0 5px var(--clr-whiteLow);
}

.switch-lines {
    color: var(--clr-white);
    font-family: poppins-extraBold;
    background-image: var(--clr-switchBtn);
    box-shadow: 0.26px 4.99px var(--clr-shareShadow),inset 0 5px var(--clr-whiteLow);
}
.switch-lines:hover{
    box-shadow:inset 0.26px 4.99px var(--clr-shareShadow), 0 5px var(--clr-whiteLow);
}

.remove-line {
    background-image: var(--clr-removeBtn);
    color: var(--clr-white);
    box-shadow: 0.26px 4.99px var(--clr-removeShadow),inset 0 5px var(--clr-whiteLow);
}
.remove-line:hover{
    box-shadow:inset 0.26px 4.99px var(--clr-removeShadow), 0 5px var(--clr-whiteLow);
}

.save-meme {
    background-color: var(--clr-save);
    box-shadow: 0.26px 4.99px var(--clr-saveShadow),inset 0 5px var(--clr-whiteLow);
}
.save-meme:hover{
    box-shadow:inset 0.26px 4.99px var(--clr-saveShadow), 0 5px var(--clr-whiteLow);
}

.remove-line:hover,
.switch-lines:hover,
.add-line:hover,
.save-meme {
    cursor: pointer;
    color: var(--clr-DGrey)
}


.set-styles {
    background-color: var(--clr-stylesBG);
    border-radius: 1rem;
    padding: 0.6875rem 1rem 1.1875rem 1.09375rem;
}

.set-styles .set-font {
    font-family: poppins-semiBold;
    grid-column: span 3;
    border-radius: 1rem;
    border: 0;
    font-size: 1.71rem;
    text-align: center;
    box-shadow: 0.26px 4.99px var(--clr-btnShadow),inset 0 5px var(--clr-whiteLow);
}
.set-styles .set-font:hover{
    box-shadow:inset 0.26px 4.99px var(--clr-btnShadow), 0 5px var(--clr-whiteLow);
    cursor: pointer;
    color: var(--clr-HTxt);
}

.set-styles button {
    background-color: var(--clr-white);
    font-size: 2rem;
    box-shadow: 0.26px 4.99px var(--clr-btnShadow),inset 0 5px var(--clr-whiteLow);
}

.set-styles button:hover {
    color: var(--clr-HTxt);
    cursor: pointer;
    box-shadow:inset 0.26px 4.99px var(--clr-btnShadow), 0 5px var(--clr-whiteLow);

}

.set-styles input.set-color,
input.set-stroke {
    background-color: var(--clr-white);
    opacity: 0;
    height: 54.4px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%
}

.stroke-color-div,
.txt-color-div {
    position: relative;
    display: inline-block;
}

.stroke-color-btn,
.txt-color-btn {
    text-decoration: underline;
    z-index: 1;
}

.set-color:hover,
.set-stroke:hover {
    cursor: pointer;
}

.stroke-color-div:hover .stroke-color-btn,
.txt-color-div:hover .txt-color-btn {
    color: var(--clr-HTxt);
    box-shadow:inset 0.26px 4.99px var(--clr-btnShadow), 0 5px var(--clr-whiteLow);
}

.stickers .stick {
    font-size: 2.6875rem;
    margin: auto;
}

.stickers .stick:hover,
.stickers button:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.stickers button {
    border: 0;
    background-color: transparent;
    font-size: 1.3rem;
    align-self: center;
}

.stickers {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-self: center;
    column-gap: 0.7rem;
    row-gap: 1rem;
    width: 100%;
    padding: 13px 0px;
    border-radius: 3rem;
    margin-top: 1.46875rem;
    background-image: var(--clr-stickers);
}





.files-btns {
    margin-top: 1.675rem;
}

a.download,
a.share {
    text-decoration: none;
    color: var(--clr-white);
    font-family: poppins-medium;
    font-size: 1.3125rem;
    border-radius: 1rem;
}

a.download {
    padding: 0.53125rem 1.96875rem;
    background-color: var(--clr-download);
    box-shadow: 0.31px 5.99px var(--clr-downShadow),inset 0 5px var(--clr-white);
}
a.download:hover{
    color: var(--clr-HTxt);
    box-shadow:inset 0.31px 5.99px var(--clr-downShadow), 0 5px var(--clr-white);
}

a.share {
    padding: 0.546875rem 3.46875rem;
    background-color: var(--clr-share);
    box-shadow: 0.31px 5.99px var(--clr-shareShadow),inset 0 5px var(--clr-white);
}
a.share:hover{
    color: var(--clr-HTxt);
    box-shadow:inset 0.31px 5.99px var(--clr-shareShadow), 0 5px var(--clr-white);
}



.grid-apps {
    display: grid;
    column-gap: 2.1875rem;
    row-gap: 1.20625rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.my-canvas {
    outline: 5px solid var(--clr-trans);
    border-radius: 1.875rem;
    margin-bottom: 1.875rem;
}

.control-panel .line-txt {
    font-family: poppins-medium;
    font-size: 1.5625rem;

}


/* body.canvas-open .main-content{
    background-image: url(../photos/Forme\ 1.png);
    background-repeat: no-repeat;
    background-position: left;
    float: left;
} */




.img {
    width: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    box-shadow: 7px 7px 20px 0px rgba(0, 0, 0);
}

.img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.4s;

}