.img {
    width: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    box-shadow: 7px 7px 20px 0px rgba(0, 0, 0);
}

.img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.4s;

}